<div>
    <form class="form-horizontal" ng-submit="enqueue(req)" ng-model="req">
      <div class="form-group">
        <label for="query" class="col-md-2 control-label">Query</label>
        <div class="col-md-10">
          <input type="text" id="query" class="form-control"
                 placeholder="Keyword or topic. Ex: pepsi" ng-model="req.query">
        </div>
      </div>
      <div class="form-group">
        <label for="start" class="col-md-2 control-label">Start Date</label>
        <div class="col-md-10">
          <input type="date" id="start" class="form-control"
                 min="2008-01-01" max="2015-01-01"
                 placeholder="Ex: 1/1/2014" ng-model="req.start">
        </div>
      </div>
      <div class="form-group">
        <label for="end" class="col-md-2 control-label">End Date</label>
        <div class="col-md-10">
          <input type="date" id="end" class="form-control"
                 min="2008-01-01" max="2015-01-01"
                 placeholder="Ex: 3/1/2014" ng-model="req.end">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
          <input type="email" id="email" class="form-control"
                 placeholder="name@domain.com" ng-model="req.email">
          <p class="help-block">
              Optional. If provided, an email will be sent when the results are ready.
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <button type="submit" class="btn btn-primary btn-lg"
                  ng-disabled="!req.query">Get Sentiments</button>
        </div>
      </div>
    </form>
    <div class="alert alert-success" ng-if="success">
        You request has been submitted. ID: <a ui-sref="result({ rid: rid })"><b>{{ rid }}</b></a>
    </div>
    <div class="alert alert-danger" ng-if="error">
        {{ error }}
    </div>

</div>
