<div>
    <h2><a href="/#/">Tweetement</a></h2>
    <div class="text-center">
        <p><a class="btn btn-primary btn-lg" href="/auth/twitter">
            <i class="fa fa-twitter fa-lg"></i> Sign-in with Twitter</a></p>
        <p>
           <a href="https://twitter.com/">Twitter</a> requires all searches to be authenticated.
           We won't access or modify any of your information.
        </p>
    </div>
    <div>
        <h4>What is this?</h4>
        <p>Idk</p>
        <h4>Why do I need to sign-in with Twitter?</h4>
        <p>Idk</p>
    </div>
</div>