<div>
    <h2><a href="/#/">Tweetement</a></h2>
    <hr>
    <div class="text-center">
        <p><a class="btn btn-primary btn-lg" href="/auth/twitter">
            <i class="fa fa-twitter fa-lg"></i> Sign-in with Twitter</a></p>
        <p>
           <a href="https://twitter.com/">Twitter</a> requires all searches to be authenticated.
           We won't access or modify any of your information.
        </p>
    </div>
    <div class="faq">
        <h4>What is this?</h4>
        <p>
            Tweetement tries to find more relevant tweets for your search query.
            It differs from Twitter's own search by expanding your search query
            with more relevant keywords and hashtags, and then aggregates the best results.
            Try it out and provide feedback on the results page!
        </p>
        <h4>Why do I need to sign-in with Twitter?</h4>
        <p>Twitter requires all queries to be authenticated. We don't access any of your information.</p>
        <h4>I found a problem, or I would like to help!</h4>
        <p>Please send an email to <i>bekt17+tw[at]gmail.com</i>
           or <a href="https://github.com/Bekt/tweetement/issues">file an issue</a>.</p>
    </div>
</div>